body {
  padding: 20px;
}

header {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: grey;
  padding: 20px;
  text-align: center;
}

header a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}
header a:hover {
  text-decoration: underline;
}
